<template>
  <div>
      <br>
      <br>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Iniciar Sesion</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field v-model="loginModel.user" label="Nombre de Usuario" prepend-icon="mdi-account" type="text"></v-text-field>
              <v-text-field v-model="loginModel.password" id="password" label="Contraseña" prepend-icon="mdi-lock" type="password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="onAcceder" color="primary">Acceder</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {firebase} from '../../firebase/config'

export default {
  name: 'Login',
  data(){
    return {
      loginModel: {
        user: '',
        password: '',
      },
      message: ''
    }
  },
  created(){
    this.autenticado();
  },
  methods: {
    autenticado(){
      var self = this;
      if(firebase.auth().currentUser != null){
        self.$router.go('/')
      }
    },
    onAcceder(e){
      e.preventDefault();
      var self = this
      firebase.auth().signInWithEmailAndPassword(this.loginModel.user, this.loginModel.password).then(function(){
        self.$router.push('/')
      }).catch(function(error){
         console.log(error.message)
      })

    }
  }
}
</script>