<template>
     <v-card>
        <v-system-bar color="primary2"></v-system-bar>
        <v-data-table :search="buscar" :items-per-page="5" :footer-props="{'items-per-page-text':'Filas por pagina'}" item-key="editarIndex" :headers="headers" :items="proveedores" sort-by="calories" class="elevation-1" v-bind:loading="loading" loading-text="Cargando... Por favor espere" no-data-text="No hay datos">
        <template #footer.page-text="props">{{props.pageStart}}-{{props.pageStop}} de {{props.itemsLength}}</template>
        <template v-slot:top>
            <v-toolbar flat color="primary" dark>
            <v-toolbar-title>Proveedores</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="modal" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                <v-btn color="cyan darken-2" dark class="mb-2" v-bind="attrs" v-on="on">Nuevo Proveedor</v-btn>
                </template>
                <v-card>
                <v-card-title>
                    <span class="headline">{{ tituloFormulario }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="editarProveedorModelo.empresa" label="Nombre de la Empresa"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="editarProveedorModelo.rnc" label="RNC"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                        <v-text-field v-model="editarProveedorModelo.telefono" label="Telefono"></v-text-field>
                        </v-col>
                    </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cerrar">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="guardar">Save</v-btn>
                </v-card-actions>
                </v-card>
            </v-dialog>
            </v-toolbar>
            <v-row>
                <v-col cols="12">
                <v-text-field class="mx-15" v-model="buscar" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                </v-col>
            </v-row>
         </template>
         <template v-slot:item.actions="{ item }">
            <v-btn @click="editarProveedor(item)" class="mx-2" fab dark small color="accent"><v-icon dark>mdi-pencil</v-icon></v-btn>
            <v-btn @click="borrarProveedor(item)" class="mx-2" fab dark small color="error"><v-icon dark>mdi-delete</v-icon></v-btn>
         </template>
        <!-- <template v-slot:no-data><v-btn color="primary">Reset</v-btn></template> -->
        </v-data-table>
    </v-card>
</template>
<script>
import {db} from '../../firebase/config';

export default {
    name: 'Home',
      data () {
    return {
      buscar: '',
      modal: false,
      proveedores: [],
      loading: true,
      headers: [
        { text: "ID", align: "start", sortable: false, value: "id" },
        { text: "Empresa", align: "start", value: "empresa" },
        { text: "RNC", value: "rnc" },
        { text: "Telefono", value: "telefono" },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      editarIndex: -1,
      editarProveedorModelo: {
        id: null,
        empresa: "",
        rnc: "",
        telefono: ""
      },
      defaultProveedorModelo: {
        id: null,
        empresa: "",
        rnc: "",
        telefono: ""
      },
    }
  },
  computed: {
    tituloFormulario () {
      return this.editarIndex === -1 ? 'Nuevo Proveedor' : 'Editar Proveedor'
    },
  },
  watch: {
    proveedores(){
      // if(this.proveedores.length === 0){
      //   this.loading = false;
      // }
      if(this.proveedores != ''){
        this.loading = false;
      }
    },
    modal (val) {
      val || this.cerrar();
    },
  },
  firestore: {
    proveedores: db.collection("proveedores").orderBy('empresa', 'desc'),
  },
  methods: {
    editarProveedor (item) {
      this.editarIndex = this.proveedores.indexOf(item)
      this.editarProveedorModelo = Object.assign({}, item)
      this.modal = true
    },
    borrarProveedor (item) {
      this.editarProveedorModelo = Object.assign({}, item)
      db.collection("proveedores").doc(this.editarProveedorModelo.id).delete()
    },
    cerrar () {
      this.modal = false
      this.$nextTick(() => {
        this.editarProveedorModelo = Object.assign({}, this.defaultProveedorModelo)
        this.editarIndex = -1;
      })
    },
     async guardar () {
      if (this.editarIndex > -1) {
        await db.collection("proveedores").doc(this.editarProveedorModelo.id).set(this.editarProveedorModelo)
      } else {
        await db.collection("proveedores").add(this.editarProveedorModelo);
      }
      this.cerrar()
    },
  },
}
</script>