<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-row justify="center">
      <v-col cols="12" sm="10" md="8" lg="8">
        <v-card ref="form">
          <v-card-text>
            <!-- <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name" required></v-text-field> -->
            <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
            <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :rules="passwordRules" :type="showPassword ? 'text' : 'password'"  label="Maximo 25 caracteres" hint="Maximo 25 caracteres." counter="25"  @click:append="showPassword = !showPassword"></v-text-field>
          </v-card-text>
          <v-divider class="mt-12"></v-divider>
          <v-card-actions>
              <!-- <v-btn text>Cancel</v-btn> -->
              <v-spacer></v-spacer>
              <v-slide-x-reverse-transition>
                <v-tooltip v-if="!valid"  left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon class="my-0" v-bind="attrs" @click="reset" v-on="on">
                      <v-icon>mdi-refresh</v-icon>
                    </v-btn>
                  </template>
                  <span>Reiniciar Formulario</span>
                </v-tooltip>
              </v-slide-x-reverse-transition>
              <v-btn :loading="btnLoading" small color="primary" :disabled="!valid || btnLoading" @click="validate">Registrar
                 <template v-slot:loader>
                  <span>Loading...</span>
                </template>
              </v-btn>
            </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>
<script>
import {auth} from '../../firebase/config'

  export default {
    data: () => ({
      errorCode: '',
      errorMessage: '',
      valid: true,
      loader: null,
      btnLoading: false,
      showPassword: true,
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      password: '',
      passwordRules: [
        v => !!v || 'La contrasena es requerida.',
        v => (v && v.length >= 6) || 'El campo debe tener minimo 6 caracteres',
        v => (v && v.length <= 25) || 'El campo debe tener maximo 25 caracteres',
      ],

    }),
    watch:{
      loader () {
        const l = this.loader
        this[l] = !this[l]
        setTimeout(() => (this[l] = false), 3000)
        this.loader = null
      },
    },
    methods: {
      validate () {
        if(this.$refs.form.validate()){
          auth.createUserWithEmailAndPassword(this.email, this.password).catch(function(error) {
            console.log(error.code)
            console.log(error.message)
          }); 
        }
        this.$refs.form.validate();
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>