<template>
  <div>
    <v-system-bar dark color="primary" app><v-spacer></v-spacer><v-icon>mdi-wifi-strength-4</v-icon><v-icon>mdi-signal-cellular-outline</v-icon><v-icon>mdi-battery</v-icon><span>{{hour}}</span></v-system-bar>
    <v-navigation-drawer color="secondary" v-model="drawer" app>
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <!-- <img src="https://randomuser.me/api/portraits/women/81.jpg"> -->
            <v-avatar color="error" size="45"><span class="white--text headline">M</span></v-avatar>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ usuarioLoginModelo.email }}</v-list-item-title>
            <v-list-item-subtitle>Administrador</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item link to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="usuarios">
          <v-list-item-action>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Usuarios</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="proveedores">
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Proveedores</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn @click="cerrarSession" class="error" block>Cerrar Session</v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar dark app color="primary">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Panel Administracion</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-badge :content="bell" :value="bell"  overlap>
            <v-icon @click="bell++" v-if="bell == 0">mdi-bell-off</v-icon>
            <v-icon @click="bell++" v-else>mdi-bell-ring</v-icon>
        </v-badge> 
         <div class="ml-5"></div>
        <v-icon @click="colortheme">mdi-brightness-4</v-icon>
        <div class="ml-1"></div>
        <v-menu bottom offset-y>
            <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>

            <v-list>
                <v-list-item>
                <v-list-item-title>Perfil</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-app-bar>

    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
    <v-footer color="primary" app>
      <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </div>
</template>
<script>
import moment from "moment";
import {firebase} from '../firebase/config'

export default {
  name: "App",
  data() {
    return {
        bell: 0,
        drawer: null,
        hour: "",
        usuarioLoginModelo: {
          displayName: '',
          email: '',
          emailVerified: '',
          photoURL: '',
          isAnonymous: '',
          uid: '',
          providerData: '',
        }
    };
  },
  created(){
    this.usuario();
    this.hora();
  },
  mounted() {
    const theme = localStorage.getItem("dark_theme");
    if (theme) {
        if (theme == "true") {
            this.$vuetify.theme.dark = true;
        } else {
            this.$vuetify.theme.dark = false;
        }
    }
  },
  methods: {
    usuario(){
      var self = this
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          self.usuarioLoginModelo.displayName = user.displayName;
          self.usuarioLoginModelo.email = user.email;
          self.usuarioLoginModelo.emailVerified = user.emailVerified;
          self.usuarioLoginModelo.photoURL = user.photoURL;
          self.usuarioLoginModelo.isAnonymous = user.isAnonymous;
          self.usuarioLoginModelo.uid = user.uid;
          self.usuarioLoginModelo.providerData = user.providerData;

        } else {
        //  self.$router.go('/')
        }
      });
    },
    cerrarSession(){
      var self = this
      firebase.auth().signOut().then(function(){
        self.$router.push('/login')
      })
    },
    colortheme(){
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.setItem("dark_theme", this.$vuetify.theme.dark.toString());
     },
    hora() {
      var self = this;
      this.hour = moment().format("LTS");
      setTimeout(self.hora, 1000);
    },
  },
};
</script>