<template>
  <v-app>
      <Layout></Layout>
  </v-app>
</template>

<script>

import Layout from './views/Layout'

export default {
  name: "App",
  data(){
    return {
      hour: ''
    }
  },
  components: {
    Layout
  },
};
</script>
